*.suo
*.user
*.sdf
*.pyc
*.sln
*.pdb
*.vs
*.iobj
*.ipdb
*.blend1
Genesis/libs/Genesis/
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/appcache/
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/config/libraryfolders.vdf
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/logs/
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/package/
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/steamapps/libraryfolders.vdf
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/userdata/
Genesis/libs/steamworks/sdk/tools/ContentBuilder/builder/update_hosts_cached.vdf
Game/bin/config.xml
Game/bin/crashhandler/
Game/bin/Hexterminate
Game/bin/Hexterminate.exe
Game/bin/imgui.ini
Game/bin/log.txt
Game/bin/Screenshot*.bmp
Game/bin/steam_api64.dll
Game/packages/
Game/tools/publish/intermediates/
Game/tools/publish/output/
Game/tools/publish/steampipe/output/
obj/
.build-premake/
build/