[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "Genesis/libs/crashpad-cmake"]
	path = Genesis/libs/crashpad-cmake
	url = https://github.com/TheAssemblyArmada/crashpad-cmake
[submodule "Game/bin/assets"]
	path = Game/bin/assets
	url = git@github.com:solace-10/Hexterminate-assets.git
[submodule "Genesis/libs/steamworks"]
	path = Genesis/libs/steamworks
	url = git@github.com:solace-10/Hexterminate-steamworks.git
